<!DOCTYPE html>
<html>
  <head>
    <title>The Spoon - Awesome App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome to our website</h1>
    <%= yield %>
    <p>This is our footer</p>
  </body>
</html>
